// Styling for the masthead
header.masthead {
  // TIP: Background images are set within the HTML using inline CSS!
  margin-bottom: 50px;
  background: no-repeat center center;
  background-color: $gray-600;
  background-attachment: scroll;
  position: relative;
  @include background-cover;
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $gray-900;
    opacity: 0.1;
  }
  .page-heading,
  .post-heading,
  .site-heading {
    padding: 200px 0 150px;
    color: white;
    @media only screen and (min-width: 768px) {
      padding: 200px 0;
    }
  }
  .page-heading,
  .site-heading {
    text-align: center;
    h1 {
      font-size: 50px;
      margin-top: 0;
    }
    .subheading {
      font-size: 24px;
      font-weight: 300;
      line-height: 1.1;
      display: block;
      margin: 10px 0 0;
      @include sans-serif-font;
    }
	@media only screen and (min-width: 768px) {
      h1 {
        font-size: 80px;
      }
    }
  }
  .site-heading {		
		padding-top: 90px;
		padding-bottom:150px;
		
		h2{
			font-weight: 500;
			font-size: 1.1rem;
			font-family: open sans; //gill sans mt
			font-style: italic;
			line-height:1.4rem;
			width: 80%;
			margin:0 auto;
			padding-bottom: 80px;
		}
		
		
		.form-control {
			background-clip: border-box;
			border: 1px solid $white;
			
			&:focus {
				border-color: $white;
				box-shadow: none;
			}
		}
		.rbt{
			@include sans-serif-font;
			input{
				opacity:0.8;
				border-radius: 0.3rem;
				&[type='text'] {			
					@include sans-serif-font;
					padding: 1.8rem 1rem;
					font-size: 1.1rem;
					color: $black;
				}
				&:focus {
				border-color: $white;
				box-shadow: none;
				}
				&::placeholder{
					color: $gray-700;
					opacity:1;
					@include sans-serif-font;
					}
				&:-ms-input-placeholder{
					padding: 1.8rem 1rem;
				}
				
			}
			/*>div:before{						//don't delete until final search format is styled
				opacity:0.85;
				content: "\e986";
				@include icon-font();
				display: inline;
				vertical-align: middle;
				border: 1px solid white;
				border-radius: 0.3rem 0 0 0.3rem;
				background-color: $white;
				color: $gray-700;
				font-weight:400;
				padding: 0.6rem 1rem;
					
				}*/
			}
		
		/*.input-group-append {				//don't delete until final search format is styled
			.btn {
				text-transform: initial;
				background-color: $white;
				border: 1px solid $white;
				font-weight: 400;
				font-size: 1rem;
				color: $black;
				padding: 0.6rem 1rem;
				&:hover{
					color: $gray-900;
				}
				&:after{
					 content: "\e903";
					 @include icon-font();
					 display: inline;
					 vertical-align: middle;
					 border-top: none;
					}
				&:focus{
					box-shadow: none;
				}
				
			}
			.dropdown-menu{
					.dropdown-item{
						@include sans-serif-font;
					}
				}
			
		}  */
		
  }
  
  .post-heading {
    h1 {
      font-size: 35px;
    }
    .meta,
    .subheading {
      line-height: 1.1;
      display: block;
    }
    .subheading {
      font-size: 24px;
      font-weight: 600;
      margin: 10px 0 30px;
      @include sans-serif-font;
    }
    .meta {
      font-size: 20px;
      font-weight: 300;
      font-style: italic;
      @include serif-font;
      a {
        color: $white;
      }
    }
	@media only screen and (min-width: 768px) {
      h1 {
        font-size: 55px;
      }
      .subheading {
        font-size: 30px;
      }
    }
  }
}
